
@CHARSET "UTF-8";

vbox, box, hbox{
	border: none;
}

.h1, .h2, .h3, .h4{
   font-weight: bold;
   display: block;
   color: #222;
}

.h1{
   font-size: 2em;
}

.error{
    color: black;
}

.errorMessage{
    color: red;
    font-weight: bold;
}

caption{
   
   font-size: 14px;
   font-weight: bold;
   
}

.pager .page{
   font-size: 0.8em;   
}

.pager .selected{   
   color: red;   
}

.topMenu{
	height: 50px;
}

toolbarbutton{
	font-size: 1.1em;		
}

toolbarbutton.active{
	color: white;	
	font-size: 1.3em;
	font-weight: bolder;
}

.logout{
	color: #d92113;
}

.welcome{
	color: blue;
	font-size: 1.3em;
}

button.save{
	list-style-image: url('../save.png')
}

tab{
	font-size: 1.3em;
	padding: 5px;
}
